/*Navbar*/
.nav-link{
    opacity: 07;
}
.nav-link:hover{
    opacity:1;
    background-color: #eee !important
}
/*Header*/

header {
    height: 700px;
    width: 100%;
    background-image: url("Four Elements.jpg");
    background-size: cover;
    /*center everything*/
    text-align: center;
    font-family: 'Romanesco';
    
}

header h1 {
    font-size: 80px;
    color: white;
    padding: 40px
}

header p {
    font-style: italic;
    margin: 40px;
    font-size: medium;
    color: white;
}
/*Services*/
.reasons {
    text-align: center;
}
